# NLP and LLMs
spacy
gliner==0.2.2
gliner-spacy>=0.0.8
transformers
bitsandbytes
lingua-language-detector
guidance==0.1.14
python-dateutil>=2.9.0
sentencepiece
# File readers
pypdf>=4.2.0
python-docx>=1.1.2
# Monitoring
tqdm