# NLP and LLMs
spacy==3.8.2
gliner==0.2.16
gliner-spacy==0.0.10
transformers==4.45.2
accelerate>=0.26.0
lingua-language-detector==1.3.5
python-dateutil>=2.9.0
babel>=2.13.0
dateparser>=1.1.8
# File readers
pypdf>=4.2.0
python-docx>=1.1.2
# Monitoring
tqdm==4.67.0